.page404-wrap {
  position: relative;
  background: $w;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .page404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tenor-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    @include to(575px) {
      flex-direction: column;
    }

    .button {
      margin-top: 30px;
      &:first-child {
        margin-right: 50px;

        @include to(575px) {
          margin-right: 0;
        }
      }

      @include to(575px) {
        &:last-child {
          margin-top: 10px;
        }
      }
    }
  }
}

.page404__title {
  @include tenor(160px, 90%, center, -0.03em, uppercase, $main-green);
  margin-bottom: 30px;

  @include to(575px) {
    font-size: 120px;
  }
}
